<!--Profile page for the requested Pokemon, 
{pokeSprite} will get the sprite link from the values
object to link to the image of the Pokemon,
{pokeName} gives the name, {pokeType} provides the type
i.e. Fire, Water, etc. Lastly, {pokeId} provides its
"index" number within the Pokedex system-->
<div class="profile">
		<img src={pokeSprite} alt="Sprite" id="sprite">

		<p><span>{pokeName}</span><p>

		<ul>
			<li><span>Index:</span> {pokeId}</li>
			<li><span>Type(s):</span> {pokeType}</li>
			<li><a href="/">search again</a></li>
		</ul>
	</div>