<!--Search Page, links to the pokemon image logo. Hard coded link 
because like CSS I only know how to server up HTML files at the moment.
Form uses a POST method, this will POST the pokemon's name which will then
be handled by the router.js and profile.js files-->
<img src="http://i.imgur.com/kDsOL9M.png?1" alt="Pokemon Logo" id="searchIcon">

	<form action="/" method="POST">
    	<input type="text" placeholder="Enter a Pokemon" id="pokemon" name="pokemon">
    	<input type="submit" value="search" class="button">
	</form>